/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Poppins:wght@500&display=swap'); */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    Width: 1440px;
    /* Height: 4491px; */
    Top: -2246px;
    Left: -720px;
    overflow-x: hidden;
}
header{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background-color: #E5E5E5;
}
#second-img{
    position: absolute;
    width: 857px;
    height: 518px;
    left: 303px;
    top: 440px;
}
nav a{
    text-decoration: none;
    color: #095953;
}
nav img{
    position: absolute;
    width: 50.76px;
    height: 26.5px;
    left: 136.5px;
    top: 43px;
}
#hug{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 419px;
    height: 29px;
    left: 901px;
    top: 41px;
}
#hug1{
    width: 127px;
    height: 29px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;     
}
#hug2{
    width: 111px;
    height: 29px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#hug3{
    width: 117px;
    height: 29px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
header h1{
    position: absolute;
    width: 1119px;
    height: 77px;
    left: 161px;
    top: 166px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.025em;
    color: #0B423E;
    text-align: center;
}
#hero-paragraph{
    position: absolute;
    width: 951px;
    height: 58px;
    left: 268px;
    top: 270px;
    Left: 268px;
    right: 221px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.8%;
    color: #0B423E;
    text-align: center;
    padding-right: 90px;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 80px;
    gap: 10px;
    position: absolute;
    width: 295px;
    height: 77px;
    left: 560px;
    top: 387px;
    background: #095953;
    border-radius: 4px;
}

.btns a{
    width: 135px;
    height: 29px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
#page-2 {
    position: absolute;
    width: 1440px;
    height: 768px;
    left: 0px;
    top: 1024px;
    background: #FFFFFF;
}
#page-2 > #text-bodies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px; 
    position: absolute;
    width: 1094px;
    height: 540px;
    left: 173px;
    top: 125px;
}
#page-2 > #text-bodies > h1 {
    width: 510px;
    height: 38px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #095953;
}
#page-2 > #text-bodies > p {
    width: 951px;
    height: 58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #547B78;
}
#page-2 > #text-bodies > section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 61px;
    width: 1094px;
    height: 332px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#page-2 > #text-bodies > section > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    width: 324px;
    height: 332px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#page-2 > #text-bodies section img {
    width: 80px;
    height: 80px;
}
#page-2 > #text-bodies section article h1{
    width: 304px;
    height: 80px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #095953;
}
#page-2 > #text-bodies > section > section > article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 324px;
    height: 220px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#page-2 > #text-bodies section article p{
    width: 324px;
    height: 116px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #547B78;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-section{
    position: absolute;
    width: 1440px;
    height: 1924px;
    left: 0px;
    top: 1792px;
    background: #FFFFFF;
}
.emyhead{
    position: absolute;
    width: 375px;
    height: 38px;
    left: 582px;
    top: 67px;
    font-family: 'Fira Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #095953;
}


.container{
    position: absolute;
    width: 95%;
    height: 375px;
    left: 205px;
    top: 211px;
}

#bgimage{
    background: url("./assets/emy.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* Rectangle 43 */
    position: absolute;
    width: 491px;
    height: 375px;
    left: 205px;
    top: 211px;
    border-radius: 25px;
}


.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 419px;
    height: 325px;
    left: 816px;
    top: 236px;  
}
.emyinnerhead{
    width: 419px;
    height: 80px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #004CED;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.emyparg{
    width: 324px;
    height: 116px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.8%;
    color: #547B78;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* main{
    position: absolute;
    width: 1440px;
} */
#btn-pro{
    flex: none;
    order: 2;
    flex-grow: 0;
}
