* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
}
header{
    background-color: #E5E5E5;
    width: 100%;
    height: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 102px;
}
#second-img {
    width: 70%;
    height: 518px;
    top: 440px;
}
nav{
    width: 92%;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #095953;
    width: 30%;
    height: 29px;
    font-size: 20px;
    /* margin-right: 18px; */
    /* flex: none;
    flex-grow: 0; */
}
nav img {
    width: 50.76px;
    height: 26.5px;
    margin-left: 130px;
    top: 43px;
}
#ham{
    display: none;
}
#hug {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    /* position: absolute; */
    width: 419px;
    height: 29px;
    left: 901px;
    top: 41px;
}
header h1 {
    min-height: 77px;
    top: 166px;
    font-family: 'Fira Sans';
    font-size: 64px;
    letter-spacing: 0.025em;
    color: #0B423E;
    width: 80%;
    text-align: center;
}
#hero-paragraph {
    width: 65%;
    height: 58px;
    margin: 40px;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 161.8%;
    color: #0B423E;
    text-align: center;
    }
button{
    border: none;
    /* outline: none; */
}
.btns, .quotes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 80px;
    gap: 10px;
    width: 295px;
    height: 77px;
    /* margin-top: 25px; */
    background: #095953;
    border-radius: 4px;
}
.btns a, .quotes{
    width: 135px;
    height: 29px;
    font-family: 'Fira Sans';
    /* font-style: normal; */
    font-size: 27px;
    line-height: 29px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
#page-2 {
    width: 100%;
    height: 768px;
    left: 0px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page-2>#text-bodies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px;
    width: 1094px;
    height: 540px;
    /* left: 173px; */
    top: 125px;
}
#page-2>#text-bodies>h1 {
    width: 510px;
    height: 38px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #095953;
}
#page-2>#text-bodies>p {
    width: 951px;
    height: 58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #547B78;
}
#page-2>#text-bodies>div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 61px;
    width: 1094px;
    height: 332px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#page-2>#text-bodies>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 324px;
    height: 332px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#page-2>#text-bodies div img {
    width: 80px;
    height: 80px;
}
#page-2>#text-bodies div article h1 {
    width: 304px;
    height: 80px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #095953;
}
#page-2>#text-bodies>div>div>article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 324px;
    height: 220px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#page-2>#text-bodies div article p {
    width: 324px;
    height: 116px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #547B78;
}
.middle-section {
    width: 100%;
    background-color: #FFFFFF;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore {
    width: 375px;
    height: 38px;
    font-family: 'Fira Sans';
    font-size: 32px;
    line-height: 38px;
    color: #095953;
}
.container {
    width: 100%;
    height: 500px;
    /* left: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    /* top: 500px; */
}
.bgimage {
    background: url("./assets/emy.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 400px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0px;
    gap: 10px;
    /* width: 50%;
    height: 400px; */
    /* left: 816px; */
    /* top: 0px; */
}
.text h3 {
    width: 419px;
    /* height: 80px; */
    font-family: 'Fira Sans';
    font-size: 32px;
    line-height: 125%;
    color: #095953;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.text h3 span{
    color: #004CED;
    font-family: 'Fira Sans';
}
.text p {
    width: 324px;
    /* height: 116px; */
    font-family: 'Poppins';
    font-size: 18px;
    /* line-height: 161.8%; */
    color: #547B78;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text button {
    flex: none;
    order: 2;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 80px;
    gap: 10px;
    /* position: absolute; */
    width: 290px;
    height: 70px;
    /* left: 560px; */
    /* top: 387px; */
    background: #095953;
    border-radius: 4px;
}
.text button a{
    width: 135px;
    height: 29px;
    font-family: 'Fira Sans';
    /* font-style: normal; */
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}
#azuma{
    color: #C75A1D;
}
#pulla{
    color: #0DB1A5;
}
#pulla-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 324px;
}
.pulla-txt h3{
    width: 304px;

}
.imageSide{
    background: url("./assets/Rectangle45.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-right: 10px; */
}
.img-4{
    background-image: url("./assets/Rectangle44.png");
    background-repeat: no-repeat;
}
.cont{
    flex-direction: row-reverse;
    padding-left: 70px;
}
.cnt{
    margin-right: 90px;
}
#reshaping-card{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#footers{
    width: 100%;
    height: 450px;
    left: 0px;
    top: 3716px;
    background: #3B5249;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#reshape{  
    width: 609px;
    height: 58px;
    font-family: 'Fira Sans';
    margin-top: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #095953;
}
#frame-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 80px;
    gap: 10px;
    width: 379px;
    height: 77px;
    margin: 60px auto;
    background:   #095953;
}
#frame-3 a{
    /* width: 219px; */
    height: 29px;
    text-decoration: none;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#frame-31{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#frame-31 a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Fira Sans';
    font-size: 24px;
    line-height: 60px;
}
#footers-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 70%;
    /* margin-left: 50px; */
}
#footers-container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.3%;
}
#img-containerr{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inc{
    height: 64px;
    top: 155px;
}
#seng-102{
    width: 297px;
    height: 20px;
    top: 331px;
    text-align: center;
    font-family: 'Fira Sans';
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


@media (max-width:1200px) {
    body{
        overflow-x: hidden;
        max-width: 1200px;
        min-width: 200px;
    }
    header{
        margin: 0 auto;
        min-height: 700px;
    }
    header h1{
        text-align: center;
        font-size: 45px;
        width: 80%;
        min-height: 50px;
    }
    .btns{
        margin-top: 55px;
    }
    #hero-paragraph{
        text-align: center;
        margin: 50px 0 0 0;
        min-height: 110px;
        width: 70%;
        font-size: 15px;
    }
    nav{
        justify-content: center;
    }
    nav img{
        width: 40%;
        margin: 0;
    }
    nav a{
        width: 100%;
        font-size: 11px;
        text-align: center;
    }
    #ham{
        display: block;
        width: 225px;
    }
    #hug{
        display: none;
        min-height: 80px;
        width: 70%;
    }
    #second-img{
        width: 80%;
        margin-top: 30px;
    }
    #page2{
        min-height: 900px;
        margin-top: 40px;
        width: 100%;
    }
    #page-2>#text-bodies{
        min-height: 400px;
        left: 0;
        width: 100%;
        gap: 56px;
    }

    #page-2>#text-bodies>div {
        flex-direction: column;
        align-items: center;
        min-height: 300px;
        width: 100%;
        margin-top: 40px;
    }
    #page-2>#text-bodies>div>div {
        gap: 12px;
        width: 100%;
        min-height: 300px;
        align-items: center;
    }
    #page-2>#text-bodies>h1 {
        width: 80%;
        text-align: center;
        margin-top: 30px;
    
    }
    #page-2>#text-bodies>p {
        width: 80%;
        text-align: center;
        min-height: 158px;
    }
    #page-2>#text-bodies div article h1 {
        text-align: center;
    }
    #page-2>#text-bodies div article p {
        text-align: center;
    }
    .middle-section{
        margin-top: 750px;
    }
    .container{
        flex-direction: column;
        margin-top: 20px;
    }
    .cont{
        padding: 0;
    }
    .cnt{
        margin: 0;
    }
    .cnt h3{
        margin-top: -150px;
    }
    .explore{
        text-align: center;
    }
    .text{
        width: 60%;
        align-items: center;
    }
    .text h3{
        text-align: center;
        font-size: 28px;
        width: 100%;
    }
    .text p{
        text-align: center;
    }
    .text button{
        margin: 20px 0;
    }
    #reshape{
        font-size: 30px;
        text-align: center;
        width: 90%;
        line-height: 28px;
    }
    #reshaping-card{
        margin-top: 50px;
        width: 100%;
        min-height: 300px;
    }
    #frame-31{
        flex-direction: column;
    }
    #frame-31 a{
        text-align: center;
    }
    #footers-container{
        flex-direction: column;
        align-items: center;
    }
    #footers-container div{
        align-items: center;
    }
    #footers{
        justify-content: space-around;
        height: 700px;
        width: 100%;
        padding-top: 50px;
    }
    #img-containerr{
        margin-bottom: 1.25em;
    }
    #frame-3{
        width: 45%;
        margin: 20px 0;
    }
    #frame-3 a{
        font-size: 1.125em;
    }
    .bgimage{
        width: 31.2%;
    }
    .quotes{
        margin-top: 3.125em;
    }
}